
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
@model Ville
<form asp-action="Creates" id="formVille" class="col-4">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Lib"></label>
        <input id="lib" class="form-control" asp-for="Lib" />

        <span asp-validation-for="Lib" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary"> Envoyer </button>
    </div>
</form>
@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/villecreate.js"></script>
}