@model WebZstone.Models.Ville

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ville</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdV" class="control-label d-none"></label>
                <input asp-for="IdV" class="form-control d-none"  />
                <span asp-validation-for="IdV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lib" class="control-label"></label>
                <input asp-for="Lib" class="form-control" />
                <span asp-validation-for="Lib" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
